.box {
  height: 350px;
  width: 250px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;

  .deleteIcon {
    top: 1rem;
    position: absolute;
    right: 0.5rem;
    background: red;
    padding: 0.4rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }

  .updateIcon {
    top: 3.5rem;
    position: absolute;
    right: 0.5rem;
    background: #ff8400;
    padding: 0.4rem;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
  }

  .image {
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;

    img {
      height: 100%;
    }
  }

  .content {
    height: 16%;
    padding: 8px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: initial;
    p {
      font-size: 16px;
      font-weight: 500;
      font-family: "Varela Round", sans-serif;
    }
  }
  .subContent {
    height: auto;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: "Varela Round", sans-serif;
    margin-top: 7px;
    h4 {
      font-size: 1.5rem;
      letter-spacing: 8px;
    }

    h5 {
      text-transform: full-width;
      color: darkmagenta;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
