@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Varela Round", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #a1a1e6 #514f4f;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f5b770;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #514f4f;
  border-radius: 1rem;
  border: 5px solid transparent;
  background-clip: content-box;
}

body {
  background-color: #f2f3ad;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
  font-family: var(--font1);
}
