.products {
  padding: 2rem;
  height: calc(100% - 100px);

  .productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    height: 100%;
    padding: 1rem;
  }
}
